@import "libs/fonts.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

$sections: logo, reservation, paris_centre;

@each $section in $sections {
 .section__#{$section} {
    display: flex;
    justify-content: center;
}
}

.section__paris {
    width: 165px;
}

.background__logo {
    box-shadow: 5px 0px 5px 0px #636363cc;
    position: relative;
    z-index: 1;
}

.background__paris {
    background-color: #EAEAEA;
    color: #414040;;
    font-weight: bold;
}

.section__logo__1 {
    font-family: "Shrikhand", sans-serif;
    padding: 15px 0px 5px 0px;
    font-size: 20px;

    h2 {
        margin: 0;
    }
}

.section__paris__1 {
    display: flex;
    align-items: center;
    height: 50px;

    .fas {
        margin-right: 18px;
        margin-bottom: 3px;
    }
}

.section__reservation__1 {
    text-align: center;
}

.section__reservation a {
    text-decoration:none;
}

.marge__reservation {
    padding-top: 25px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    border: 0;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);

        &:hover {
            filter: brightness(1.1);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        }

}

.fonctionnement {
	margin-top: 15px;
    margin-bottom: 40px;
    padding: 7px;

    .fas {
        margin: 25px;
    }
}

.fonctionnement__h2 {
	padding-left: 13px;
}

.fonctionnement__flex {
    display: flex;
    flex-direction: column;
}

$sections: choix__restaurant, composition__menu, degustation__menu;

@each $section in $sections {
 .#{$section} {
    display: flex;
    align-items: center;
    margin: 12px;
    padding: 5px;
    text-decoration: none;
    color: rgb(151, 150, 150);
    box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;

    p {
        font-weight: bold;
        color: #000;
    }
}
}

.degustation__menu__color {
    background-color: #F5EDFF;
    color: #9356DC;
}

.restaurant {
    background-color: #F6F6F6;
    padding-bottom: 40px;
}

.restaurant_centre {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.restaurant article {
    background: white;
    width: 90%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 0px 5px #0000002e;
}

.restaurant_h2 {
    padding-top: 30px;
    padding-left: 13px;
}

footer {
    padding: 5px;
    background-color: #353535;
    list-style: none;
}

footer ul {
    margin-left:0;
    padding-left:5px;
    list-style: none;
}

footer li {
    margin: 9px;
}

footer a {
    margin:0;
    padding:5px;
    text-decoration:none;
    color: #fff;
}

.fas__1 {
    margin-right: 15px;
}

.fas__2 {
    margin-right: 13px;
}


footer h2 {
    font-family: "Shrikhand", sans-serif;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 18px;
}

.menu {
    background: #9356DC;
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: relative;
    right: 14px;
}

.menu span {
    position: absolute;
    top: 4.5px;
    left: 7px;
}

/*
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}

@media screen and (min-width: 480px) {

}

*/

@media screen and (min-width: 768px) {
    .fonctionnement__flex {
        flex-direction: row;

        a {
            flex-basis: 33%;
        }
    }

    .restaurant_centre {
        flex-direction: row;
    }

    .restaurant article {
        margin: 15px;
    }
}