@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("./fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@keyframes uppage {
  0% {
    transform: translateX(75px);
    visibility: hidden;
  }
  100% {
    transform: translateX(0px);
    visibility: visible;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.section__logo {
  display: flex;
  justify-content: center;
}

.section__reservation {
  display: flex;
  justify-content: center;
}

.section__recherche_centre {
  display: flex;
  justify-content: center;
}

.section__recherche {
  width: 165px;
}

.background__logo {
  box-shadow: 5px 0px 5px 0px #636363cc;
  position: relative;
  z-index: 1;
}

.background__recherche {
  background-color: #EAEAEA;
  color: #414040;
  font-weight: bold;
}

.section__logo__1 {
  font-family: "Shrikhand", sans-serif;
  padding: 15px 0px 5px 0px;
  font-size: 20px;
}
.section__logo__1 h2 {
  margin: 0;
}

.section__recherche__1 {
  display: flex;
  align-items: center;
  height: 50px;
}
.section__recherche__1 .fas {
  margin-right: 18px;
  margin-bottom: 3px;
}

.section__reservation__1 {
  text-align: center;
}

.section__reservation a {
  text-decoration: none;
}

.marge__reservation {
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.btn__centre {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.fonctionnement {
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 7px;
}
.fonctionnement .fas {
  margin: 25px;
}

.fonctionnement__h2 {
  padding-left: 13px;
}

.fonctionnement__flex {
  display: flex;
  flex-direction: column;
}

.choix__restaurant {
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 5px;
  text-decoration: none;
  color: #979696;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}
.choix__restaurant p {
  font-weight: bold;
  color: #000;
}

.composition__menu {
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 5px;
  text-decoration: none;
  color: #979696;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}
.composition__menu p {
  font-weight: bold;
  color: #000;
}

.degustation__menu {
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 5px;
  text-decoration: none;
  color: #979696;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}
.degustation__menu p {
  font-weight: bold;
  color: #000;
}

.degustation__menu__color {
  background-color: #F5EDFF;
  color: #9356DC;
}

.restaurant {
  background-color: #F6F6F6;
  padding-bottom: 40px;
}

.restaurant a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.restaurant_centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant article {
  background: white;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 0px 5px #0000002e;
}

.restaurant_h2 {
  padding-top: 30px;
  padding-left: 13px;
}

footer {
  padding: 5px;
  background-color: #353535;
  list-style: none;
}

footer ul {
  margin-left: 0;
  padding-left: 5px;
  list-style: none;
}

footer li {
  margin: 9px;
}

footer a {
  margin: 0;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.fas__1 {
  margin-right: 15px;
}

.fas__2 {
  margin-right: 13px;
}

footer h2 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.menu {
  background: #9356DC;
  color: #fff;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  right: 14px;
}

.menu span {
  position: absolute;
  top: 4.5px;
  left: 7px;
}

/*
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}

@media screen and (min-width: 480px) {

}

*/
.img__article {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: 35% 65%;
  border-radius: 12.5px 12.5px 0 0;
}

.h3__article {
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.p__article {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 20px;
}

.class__nouveau {
  position: relative;
}

.nouveau {
  position: absolute;
  top: 15px;
  right: 17px;
  padding: 8px 14px 8px 14px;
  background-color: #99E2D0;
  color: #0B8D6D;
  border-radius: 2px;
}

.p__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -50px;
  background-color: #F6F6F6;
  border-radius: 20px 20px 0 0;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

.page__p {
  background-color: #F6F6F6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.h2__page {
  font-family: "Shrikhand", sans-serif;
}

.menu__b h3 {
  margin: 0;
  text-transform: uppercase;
}

.menu__line {
  margin-top: 5px;
  width: 35px;
  height: 5px;
  border-bottom: #99e2d0 solid;
}

.menu__box {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__box h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__box p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation-name: uppage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.menu__p:nth-child(1) {
  animation-delay: 0.2s;
}

.menu__p:nth-child(2) {
  animation-delay: 0.3s;
}

.menu__p:nth-child(3) {
  animation-delay: 0.4s;
}

.menu__commander {
  color: white;
  padding: 1rem 4rem;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.prix {
  display: flex;
  align-items: flex-end;
}

.palette__gout {
  width: 100%;
  object-fit: cover;
  max-height: 30rem;
}

.valid__box {
  background: #99e2d0;
  width: 0;
  margin: -15px -15px -15px 15px;
  border-radius: 0 15px 15px 0;
  transition: width 0.5s;
}

.menu__p:hover .valid__box {
  width: 75px;
}

.valid.fas {
  width: 75px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.menu__p:hover .valid {
  transform: rotate(-360deg);
}

.space__box {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}

.section__logo__1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fleche__index__1 {
  position: absolute;
  left: 40px;
  transform: translateY(125%);
  color: #948f8f;
  z-index: 1;
}

.far.fa-heart:hover {
  color: #9356DC;
}

.flex__click {
  display: flex;
}

@media screen and (min-width: 768px) {
  .fonctionnement__flex {
    flex-direction: row;
  }
  .fonctionnement__flex a {
    flex-basis: 33%;
  }

  .restaurant_centre {
    flex-direction: row;
  }

  .restaurant article {
    margin: 15px;
  }

  .box__menu {
    display: flex;
  }

  .menu__p {
    margin: 15px;
  }

  .fleche__index__1 {
    left: 75px;
  }
}

/*# sourceMappingURL=style.css.map */
