@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("./fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.section__logo {
  display: flex;
  justify-content: center;
}

.section__reservation {
  display: flex;
  justify-content: center;
}

.section__paris_centre {
  display: flex;
  justify-content: center;
}

.section__paris {
  width: 165px;
}

.background__logo {
  box-shadow: 5px 0px 5px 0px #636363cc;
  position: relative;
  z-index: 1;
}

.background__paris {
  background-color: #EAEAEA;
  color: #414040;
  font-weight: bold;
}

.section__logo__1 {
  font-family: "Shrikhand", sans-serif;
  padding: 15px 0px 5px 0px;
  font-size: 20px;
}
.section__logo__1 h2 {
  margin: 0;
}

.section__paris__1 {
  display: flex;
  align-items: center;
  height: 50px;
}
.section__paris__1 .fas {
  margin-right: 18px;
  margin-bottom: 3px;
}

.section__reservation__1 {
  text-align: center;
}

.section__reservation a {
  text-decoration: none;
}

.marge__reservation {
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.fonctionnement {
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 7px;
}
.fonctionnement .fas {
  margin: 25px;
}

.fonctionnement__h2 {
  padding-left: 13px;
}

.fonctionnement__flex {
  display: flex;
  flex-direction: column;
}

.choix__restaurant {
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 5px;
  text-decoration: none;
  color: #979696;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}
.choix__restaurant p {
  font-weight: bold;
  color: #000;
}

.composition__menu {
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 5px;
  text-decoration: none;
  color: #979696;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}
.composition__menu p {
  font-weight: bold;
  color: #000;
}

.degustation__menu {
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 5px;
  text-decoration: none;
  color: #979696;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}
.degustation__menu p {
  font-weight: bold;
  color: #000;
}

.degustation__menu__color {
  background-color: #F5EDFF;
  color: #9356DC;
}

.restaurant {
  background-color: #F6F6F6;
  padding-bottom: 40px;
}

.restaurant_centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant article {
  background: white;
  width: 90%;
  height: 250px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0 0px 5px #0000002e;
}

.restaurant_h2 {
  padding-top: 30px;
  padding-left: 13px;
}

footer {
  padding: 15px;
  background-color: #353535;
}

footer h2 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 18px;
}

footer p {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 7px;
  color: #fff;
}

/*
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}

@media screen and (min-width: 480px) {

}

*/
@media screen and (min-width: 768px) {
  .fonctionnement__flex {
    flex-direction: row;
  }
  .fonctionnement__flex a {
    flex-basis: 33%;
  }

  .restaurant_centre {
    flex-direction: row;
  }

  .restaurant article {
    margin: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
